<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTC-bots</title>
  <link rel="icon" type="image/png" href="https://staticfiles-com.netlify.app/static/img/mfavicon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://staticfiles-com.netlify.app/static/img/mfavicon.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://staticfiles-com.netlify.app/static/img/mfavicon.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://staticfiles-com.netlify.app/static/img/mfavicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  <style>
    body {
      background-color: rgb(240, 242, 245);
    }
    .register-form {
            margin-right: 5%;
            width: 50%;
            height: 50vh;
            border-radius: 1em;
            background-color: white;
    }
    @media only screen and (max-width: 768px) {
        .register-form {
              margin-right: 5%;
              height: 50vh;
              width: 95%;
              border-radius: 1em;
              background-color: white;
        }
    }
  </style>
</head>
<body>
    <div style="display: block; margin: auto;" class="container text-center my-5">
      {% if request.user.is_authenticated %}
        {% if request.user.lang == "russian" %}
          <h2 style="font-size: 1000%;">Ошибка сервера</h2>
          <h2 style="font-size: 200%;">Извините! Это наша ошибка 😥. Извините за предоставленые неудобства</h2>
          <a style="width: 50%;" class="btn btn-secondary" href="/">Вернуться на главную страницу</a>
        {% elif request.user.lang == "english" %}
          <h2 style="font-size: 1000%;">Server Error</h2>
          <h2 style="font-size: 200%;">Sorry! This is our mistake 😥. Sorry for the inconvenience</h2>
          <a style="width: 50%;" class="btn btn-secondary" href="/">Return to main page</a>
        {% endif %}
      {% else %}
        <h2 style="font-size: 1000%;">Server Error</h2>
        <h2 style="font-size: 200%;">Sorry! This is our mistake 😥. Sorry for the inconvenience</h2>
        <a style="width: 50%;" class="btn btn-secondary" href="/">Return to main page</a>
      {% endif %}
    </div>
    </div>
    </div>
</body>
</html>