{% extends 'base.html' %}

{% block title%}Заказ: {{order.order_title}}{% endblock %}

{% block content %}

    <div style="height: 90%; background-color: white; color: black;" class="container window">
        <div class="container my-5">
            <img style="border-radius: 50%; margin-top: 1em;" src="https://staticfiles-com.netlify.app/static/img/gleb-chubchik-teleicon.png" width="35" height="auto"> Gleb Chubchik | Админ
            <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="10"readonly>Здравствуйте! это чат для администраторов, здесь можно обсуждать заказы и прочее...</textarea>
                {% if messages %}
                    {% for message in messages %}
                    <div class="my-3">
                        {% if message.user.username == 'gleb chubchik | админ'%}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/gleb-chubchik-teleicon.png" width="35" height="auto"> 
                        {% elif message.user.username == 'ivan shneider | админ'%}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/ivan-shneider-teleicon.jpg" width="35" height="auto"> 
                        {% else %}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/unknown-user.jpeg" width="35" height="auto"> 
                        {% endif %}
                            {{message.user.username.title}}
                        <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="3" readonly>{{message.message_text}}</textarea>
                    </div>
                    {% endfor %}
                {% endif %}
        </div>
        <hr>
        <form action="/admin-chat/leave_message/" method="post">
            {% csrf_token %}
            <textarea class="form-control" style="width: 90%; height: 100%; resize: none;" type="text" name="message_text" placeholder="Текст сообщения" aria-valuetext="text" rows="3" maxlength="500"></textarea>
            {% if request.user.lang == "russian" %}
                <button class="btn btn-outline-primary" style="display: block; margin-left: 5%; margin-top: 1em; width: 90%;" type="submit">Отправить</button>
            {% elif request.user.lang == "english" %}
                <button class="btn btn-outline-primary" style="display: block; margin-left: 5%; margin-top: 1em; width: 90%;" type="submit">Submit</button>
            {% endif %}
        </form>
        <p style="visibility: hidden;">text</p>
    </div>
    <p style="visibility: hidden;">text</p>
    <p style="visibility: hidden;">text</p>
    <p style="visibility: hidden;">text</p>
{% endblock %}