{% extends 'base.html' %}

{% block title%}Заказ: {{order.order_title}}{% endblock %}

{% block content %}

    <div style="height: 100%; background-color: white;" class="container window">
        <div class="container my-5">
            {% if request.user.lang == "russian" %}
            <img style="border-radius: 50%; margin-top: 1em;" src="https://staticfiles-com.netlify.app/static/img/orders-bot.jpeg" width="35" height="auto"> <em style="color: black;">Booty | Бот</em> 
            <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="10"readonly>Заказ: {{order.order}}</textarea>
            <textarea class="form-control" style="margin-left: 5%; width: 90%; margin-top: 1em; resize: none;" readonly cols="30" rows="1">{{order.power}}</textarea>
            <hr style="color: black;">
                {% if messages %}
                    {% for message in messages %}
                    <div class="my-3">
                        {% if message.user.username == 'gleb chubchik | админ'%}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/gleb-chubchik-teleicon.png" width="35" height="auto"> 
                        {% elif message.user.username == 'ivan shneider | админ'%}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/ivan-shneider-teleicon.jpg" width="35" height="auto"> 
                        {% else %}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/unknown-user.jpeg" width="35" height="auto"> 
                        {% endif %}
                            <em style="color: black;">{{message.user.username.title}}</em>
                        <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="3" readonly>{{message.message_text}}</textarea>
                    </div>
                    {% endfor %}
                {% else %}
                    <p style="text-align: center; color: black;">Нет сообщений</p>
                {% endif %}
        </div>
        <div class="content" style="width: 95%">
            <hr style="margin-left: 5%; width: 95%; color: black;">
        </div>
        <div class="content" style="width: 95%">
            <form action="{% url 'order:leave_message' order.id %}" method="post">
                {% csrf_token %}
                <textarea class="form-control" style="margin-left: 5%; width: 95%; height: 100%; resize: none;" type="text" name="message_text" placeholder="Текст сообщения" aria-valuetext="text" rows="3" maxlength="500"></textarea>
                <button class="btn btn-outline-primary" style="margin-left: 5%; margin-top: 1em; width: 95%;" type="submit">Отправить</button>
            </form>
            {% if request.user.is_admin == False %}
                {% if order.state == "True" %}
                    <hr style="margin-left: 5%; width: 95%; color: black;">
                    <a class="btn btn-outline-success" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" href="/order-a-bot/{{order.id}}/buy">Оплатить</a>
                {% elif order.state == "Ready" %}
                    <hr style="margin-left: 5%; width: 95%; color: black;">
                    <a class="btn btn-outline-success" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" href="/order-a-bot/{{order.id}}/buy">Скачать код</a>
                {% endif %}
            {% else %}
                <hr style="margin-left: 5%; width: 95%; color: black;">
                <a class="btn btn-outline-danger" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" href="/order-a-bot/{{order.id}}/cancel">Отменить</a>
                <a class="btn btn-outline-secondary" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" data-bs-toggle="modal" data-bs-target="#HardModal">Изменить цену</a>
                <a class="btn btn-outline-success" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" data-bs-toggle="modal" data-bs-target="#MediumModal">Отправить код</a>
                <div class="modal fade" id="MediumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Отправить код бота</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <form action="{% url 'order:set_code' order.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                  <input class="form-control" type="text" id="formFile" name="code" placeholder="Введите сыллку на zip-архив">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отменить</button>
                                  <button type="submit" class="btn btn-outline-primary">Отправить</button>
                                </div>
                            </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="HardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Изменить цену заказа</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <form action="{% url 'order:set_price' order.id %}" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <input type="number" class="form-control" id="exampleInputEmail" placeholder="Введите цену" name="price">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отменить</button>
                                  <button type="submit" class="btn btn-outline-primary">Отправить</button>
                                </div>
                            </form>
                      </div>
                    </div>
                  </div>
            {% endif %}
        </div>
        <p style="visibility: hidden;">text</p>
    </div>
    <p style="visibility: hidden;">text</p>
    <p style="visibility: hidden;">text</p>
    <p style="visibility: hidden;">text</p>
    {% elif request.user.lang == "english" %}
            <img style="border-radius: 50%; margin-top: 1em;" src="https://staticfiles-com.netlify.app/static/img/orders-bot.jpeg" width="35" height="auto"> <em style="color: black;">Booty | Bot</em>
            <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="10"readonly>Order: {{order.order}}</textarea>
            {% if order.power == "Сложность: лёгкая" %}
                <textarea class="form-control" style="margin-left: 5%; width: 90%; margin-top: 1em; resize: none;" readonly cols="30" rows="1">Difficulty: easy</textarea>
            {% elif order.power == "Сложность: средняя" %}
                <textarea class="form-control" style="margin-left: 5%; width: 90%; margin-top: 1em; resize: none;" readonly cols="30" rows="1">Difficulty: medium</textarea>
            {% else %}
                <textarea class="form-control" style="margin-left: 5%; width: 90%; margin-top: 1em; resize: none;" readonly cols="30" rows="1">Difficulty: hard</textarea>
            {% endif %}
            <hr style="color: black;">
                {% if messages %}
                    {% for message in messages %}
                    <div class="my-3">
                        {% if message.user.username == 'gleb chubchik | admin'%}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/gleb-chubchik-teleicon.png" width="35" height="auto">
                        {% elif message.user.username == 'ivan shneider | admin'%}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/ivan-shneider-teleicon.jpg" width="35" height="auto">
                        {% else %}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/unknown-user.jpeg" width="35" height="auto">
                        {% endif %}
                            <em style="color: black;">{{message.user.username.title}}</em>
                        <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="3" readonly>{{message.message_text}}</textarea>
                    </div>
                    {% endfor %}
                {% else %}
                    <p style="text-align: center; color: black;">No Posts</p>
                {% endif %}
        </div>
        <div class="content" style="width: 95%">
            <hr style="margin-left: 5%; width: 95%; color: black;">
        </div>
        <div class="content" style="width: 95%">
            <form action="{% url 'order:leave_message' order.id %}" method="post">
                {% csrf_token %}
                <textarea class="form-control" style="margin-left: 5%; width: 95%; height: 100%; resize: none;" type="text" name="message_text" placeholder="Message text" aria-valuetext="text" rows="3" maxlength="500"></textarea>
                <button class="btn btn-outline-primary" style="margin-left: 5%; margin-top: 1em; width: 95%;" type="submit">Submit</button>
            </form>
            {% if request.user.is_admin == False %}
                {% if order.state == "True" %}
                    <hr style="margin-left: 5%; width: 95%; color: black;">
                    <a class="btn btn-outline-success" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" href="/order-a-bot/{{order.id}}/buy">Pay</a>
                {% elif order.state == "Ready" %}
                    <hr style="margin-left: 5%; width: 95%; color: black;">
                    <a class="btn btn-outline-success" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" href="/order-a-bot/{{order.id}}/buy">Download code</a>
                {% endif %}
            {% else %}
                <hr style="margin-left: 5%; width: 95%; color: black;">
                        <a class="btn btn-outline-danger" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" href="/order-a-bot/{{order.id}}/cancel">Cancel</a>
                        <a class="btn btn-outline-secondary" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" data-bs-toggle="modal" data-bs-target="#HardModal">Change Price</a>
                        <a class="btn btn-outline-success" style="margin-left: 5%; width: 95%; margin-top: 0.5em;" data-bs-toggle="modal" data-bs-target="#MediumModal">Submit Code</a>
                {{order.state}}
                <div class="modal fade" id="MediumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Submit Bot Code</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <form action="{% url 'order:set_code' order.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                  <input class="form-control" type="text" id="formFile" name="code" placeholder="Enter zip link">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Dismiss</button>
                                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                                  </div>
                              </form>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="HardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Change order price</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                              <form action="{% url 'order:set_price' order.id %}" method="post">
                                  {% csrf_token %}
                                  <div class="modal-body">
                                      <input type="number" class="form-control" id="exampleInputEmail" placeholder="Enter price" name="price">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Dismiss</button>
                                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                                  </div>
                              </form>
                        </div>
                      </div>
                    </div>
              {% endif %}
          </div>
          <p style="visibility: hidden;">text</p>
      </div>
      <p style="visibility: hidden;">text</p>
      <p style="visibility: hidden;">text</p>
      <p style="visibility: hidden;">text</p>
            {% endif %}
{% endblock %}