<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <title>PTC-bots</title>
    <style>
        .center {
            display: block;
            min-width: 30vw;
            max-width: 60vw;
            margin-top: 0.5em;
            margin-left: auto; 
            margin-right: auto
        }
    </style>
</head>
<body>
    <img class="center" src="https://staticfiles-com.netlify.app/static/img/ZIP.png">
    {% if request.user.lang == "russian" %}
        <a class="btn btn-outline-primary center" href="{{order.code}}">Скачать</a>
    {% elif request.user.lang == "english" %}
        <a class="btn btn-outline-primary center" download="{{order.code}}">Download</a>
    {% endif %}
</body>
</html>