{% extends 'base.html' %}

{% block title%}PTC bots - Мои заказы{% endblock %}

{% block content %}
    <div class="container my-5">
        {% if request.user.lang == "russian" %}
            {% if no_list %}
                <h2 style="text-align: center; margin-top: 1em;">Неготовые Заказы</h2>
                <hr style="color: black;">
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
                    {% for order in no_list %}
                        <div class="col">
                            <div class="card">
                                {% if order.power == "Сложность: лёгкая" %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_easy.png" class="card-img-top" alt="image">
                                {% elif order.power == "Сложность: средняя" %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_medium.png" class="card-img-top" alt="image">
                                {% else %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_hard.png" class="card-img-top" alt="image">
                                {% endif %}
                                <hr>
                                <div class="card-body">
                                <h5 class="card-title">{{order.order_title}}</h5>
                                <p class="card-text">{{order.order_date}}</p>
                                <a style="display: block; margin: auto;" class="btn btn-outline-primary" href="{% url 'order:detial' order.id %}">
                                    Перейти
                                </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elif yes_list %}
                <h2 style="text-align: center; margin-top: 1em;">Готовые Заказы</h2>
                <hr style="color: black;">
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
                    {% for order in yes_list %}
                        <div class="col">
                            <div class="card">
                                {% if order.power == "Сложность: лёгкая" %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_easy.png" class="card-img-top" alt="image">
                                {% elif order.power == "Сложность: средняя" %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_medium.png" class="card-img-top" alt="image">
                                {% else %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_hard.png" class="card-img-top" alt="image">
                                {% endif %}
                                <hr>
                                <div class="card-body">
                                <h5 class="card-title">{{order.order_title}}</h5>
                                <p class="card-text">{{order.order_date}}</p>
                                <a style="display: block; margin: auto;" class="btn btn-outline-primary" href="{% url 'order:detial' order.id %}">
                                    Перейти
                                </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2 style="text-align: center;">У вас нет заказов</h2>
            {% endif %}
            {% if ready_list %}
                <h2 style="text-align: center; margin-top: 1em;">Оплаченые заказы</h2>
                <hr style="color: black;">
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
                    {% for order in ready_list %}
                        <div class="col">
                            <div class="card">
                                {% if order.power == "Сложность: лёгкая" %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_easy.png" class="card-img-top" alt="image">
                                {% elif order.power == "Сложность: средняя" %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_medium.png" class="card-img-top" alt="image">
                                {% else %}
                                    <img src="https://staticfiles-com.netlify.app/static/img/bot_hard.png" class="card-img-top" alt="image">
                                {% endif %}
                                <hr>
                                <div class="card-body">
                                <h5 class="card-title">{{order.order_title}}</h5>
                                <p class="card-text">{{order.order_date}}</p>
                                <a style="display: block; margin: auto;" class="btn btn-outline-primary" href="{% url 'order:detial' order.id %}">
                                    Перейти
                                </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% elif request.user.lang == "english" %}
        {% if no_list %}
        <h2 style="text-align: center; margin-top: 1em;">Unfinished Orders</h2>
        <hr style="color: black;">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
            {% for order in no_list %}
                <div class="col">
                    <div class="card">
                        {% if order.power == "Сложность: лёгкая" %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_easy.png" class="card-img-top" alt="image">
                        {% elif order.power == "Сложность: средняя" %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_medium.png" class="card-img-top" alt="image">
                        {% else %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_hard.png" class="card-img-top" alt="image">
                        {% endif %}
                        <hr>
                        <div class="card-body">
                        <h5 class="card-title">{{order.order_title}}</h5>
                        <p class="card-text">{{order.order_date}}</p>
                        <a style="display: block; margin: auto;" class="btn btn-outline-primary" href="{% url 'order:detial' order.id %}">
                            Go
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elif yes_list %}
        <h2 style="text-align: center; margin-top: 1em;">Finished Orders</h2>
        <hr style="color: black;">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
            {% for order in yes_list %}
                <div class="col">
                    <div class="card">
                        {% if order.power == "Сложность: лёгкая" %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_easy.png" class="card-img-top" alt="image">
                        {% elif order.power == "Сложность: средняя" %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_medium.png" class="card-img-top" alt="image">
                        {% else %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_hard.png" class="card-img-top" alt="image">
                        {% endif %}
                        <hr>
                        <div class="card-body">
                        <h5 class="card-title">{{order.order_title}}</h5>
                        <p class="card-text">{{order.order_date}}</p>
                        <a style="display: block; margin: auto;" class="btn btn-outline-primary" href="{% url 'order:detial' order.id %}">
                            Go
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2 style="text-align: center;">You have no orders</h2>
    {% endif %}
    {% if ready_list %}
        <h2 style="text-align: center; margin-top: 1em;">Paid orders</h2>
        <hr style="color: black;">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
            {% for order in ready_list %}
                <div class="col">
                    <div class="card">
                        {% if order.power == "Сложность: лёгкая" %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_easy.png" class="card-img-top" alt="image">
                        {% elif order.power == "Сложность: средняя" %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_medium.png" class="card-img-top" alt="image">
                        {% else %}
                            <img src="https://staticfiles-com.netlify.app/static/img/bot_hard.png" class="card-img-top" alt="image">
                        {% endif %}
                        <hr>
                        <div class="card-body">
                        <h5 class="card-title">{{order.order_title}}</h5>
                        <p class="card-text">{{order.order_date}}</p>
                        <a style="display: block; margin: auto;" class="btn btn-outline-primary" href="{% url 'order:detial' order.id %}">
                            Go
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
        {% endif %}
    </div>
{% endblock %}