{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    {% if request.user.lang == "russian" %}
    <p style="visibility: hidden;">text</p>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 mb-3 text-center">
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
            <h4 class="my-0 fw-normal">150 монет</h4>
            </div>
            <div class="card-body">
            <h1 class="card-title pricing-card-title">15 $</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Способность оплатить заказ</li>
                <li>Статус "Начинающий"</li>
            </ul>
            <a href="/shop/buy/150" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                <h4 class="my-0 fw-normal">450 монет</h4>
                </div>
                <div class="card-body">
                <h1 class="card-title pricing-card-title">35 $</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Способность оплатить заказ</li>
                    <li>Статус "Продвинутый"</li>
                </ul>
                <a href="/shop/buy/450" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">750 монет</h4>
                    </div>
                    <div class="card-body">
                    <h1 class="card-title pricing-card-title">50 $</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Способность оплатить заказ</li>
                        <li>Статус "Глава телеграмм ботов"</li>
                    </ul>
                    <a href="/shop/buy/750" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
                    </div>
                </div>
                </div>
    </div>
    {% elif request.user.lang == "english" %}
    <p style="visibility: hidden;">text</p>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 mb-3 text-center">
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
            <h4 class="my-0 fw-normal">150 coins</h4>
            </div>
            <div class="card-body">
            <h1 class="card-title pricing-card-title">$15</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Ability to pay for an order</li>
                <li>Beginner Status</li>
            </ul>
            <a href="/shop/buy/150" class="w-100 btn btn-lg btn-outline-primary">Buy</a>
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                <h4 class="my-0 fw-normal">450 coins</h4>
                </div>
                <div class="card-body">
                <h1 class="card-title pricing-card-title">$35</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Ability to pay for an order</li>
                    <li>Advanced status</li>
                </ul>
                <a href="/shop/buy/450" class="w-100 btn btn-lg btn-outline-primary">Buy</a>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">750 coins</h4>
                    </div>
                    <div class="card-body">
                    <h1 class="card-title pricing-card-title">$50</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Ability to pay for an order</li>
                        <li>Status "Head of telegram bots"</li>
                    </ul>
                    <a href="/shop/buy/750" class="w-100 btn btn-lg btn-outline-primary">Buy</a>
                    </div>
                </div>
                </div>
    </div>
    {% endif %}
{% endblock %}