{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="container my-5">
            {% if request.user.lang == "russian" %}
                <p class="title-title-page-home" style="font-size: 250%; text-align: center;">Здравствуйте, {{request.user.username.title}}</p>
                {% if request.user.is_admin == False %}
                    <div style="font-size: 200%; text-align: center; margin-top: 0.5em;">
                        <p><a href="{% url 'order:index' %}">Заказать бота</a></p>
                        <p><a href="/order-a-bot/my-orders">Мои заказы</a></p>
                        <p><a href="/account">Мой аккаунт</a></p>
                    </div>
                {% else %}
                    <div style="font-size: 200%; text-align: center; margin-top: 0.5em;">
                        <p>
                            <a href="/support/">Ответить как тех-поддержка</a>
                        </p>
                        <p>
                        <a href="{% url 'order:my-orders' %}">Все заказы</a>
                        </p>
                        <p>
                            <a href="/account">Мой аккаунт</a>
                        </p>
                    </div>
                {% endif %}
            {% elif request.user.lang == "english" %}
                <p class="title-title-page-home" style="font-size: 250%; text-align: center;">Hello, {{request.user.username.title}}</p>
                {% if request.user.is_admin == False %}
                    <div style="font-size: 200%; text-align: center; margin-top: 0.5em;">
                        <p><a href="{% url 'order:index' %}">Order a bot</a></p>
                        <p><a href="/order-a-bot/my-orders">My orders</a></p>
                        <p><a href="/account">My account</a></p>
                    </div>
                {% else %}
                    <div style="font-size: 200%; text-align: center; margin-top: 0.5em;">
                        <p>
                            <a href="/support/">Reply as tech support</a>
                        </p>
                        <p>
                        <a href="{% url 'order:my-orders' %}">All orders</a>
                        </p>
                        <p>
                            <a href="/account">My account</a>
                        </p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
      <div class="elem-content">
        <h1 class="title-title">PDC-TGbots <img src="https://staticfiles-com.netlify.app/static/img/navicon.png" width="45" height="45" alt=""></h1>
        <div class="content-text">
          <h3 class="text-text">PDC-TGbots: The best TeleBot development service!</h3>
          <p><h3 class="text-text">Convenient order tracking system!</h3></p>
          <p><h3 class="text-text">Fast administration system and solution to any problem!</h3></p>
          <p><h3 class="text-text">The best prices!</h3></p>
        </div>
        <div class="links-dev">
            <p><a style="width: 95%;" class="btn btn-outline-success" href="/users/register">Register</a></p>
            <p><a style="width: 95%;" class="btn btn-outline-primary" href="/users/login">Sign in</a></p>
        </div>
      </div>
    {% endif %}
{% endblock %}