{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <p style="text-align: center; margin-top: 2em; font-size: 300%;" class="text">
            {{username}}
        </p>
        {% if request.user.username == "gleb chubchik | админ" %}
            <img src="https://staticfiles-com.netlify.app/static/img/gleb-chubchik-teleicon.png" width="467" height="auto" class="rounded">
        {% elif request.user.username == "ivan shneider | админ" %}
            <img src="https://staticfiles-com.netlify.app/static/img/ivan-shneider-teleicon.jpg" width="467" height="auto" class="rounded">
        {% else %}
            <img src="https://staticfiles-com.netlify.app/static/img/unknown-user.jpeg" width="467" height="auto" class="rounded">
        {% endif %}
        <p style="text-align: center; margin-top: 0em; visibility: hidden;" class="text">
            {{username}}
        </p>
        <hr>
        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-2">
                <div class="col">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                    <div data-digits-counter class="page__counter">
                        {% if request.user.lang == "russian" %}
                            <h3 style="font-size: 400%; text-align: center;"><b>{{all_orders}}</b> заказов всего</h3>
                        {% elif request.user.lang == "english" %}
                            <h3 style="font-size: 400%; text-align: center;"><b>{{all_orders}}</b> total orders</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="col margin-top-if-md">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                    <div data-digits-counter class="page__counter">
                        {% if request.user.lang == "russian" %}
                            <h3 style="font-size: 400%; text-align: center;"><b>{{day}}</b> заказов за день</h3>
                        {% elif request.user.lang == "english" %}
                            <h3 style="font-size: 400%; text-align: center;"><b>{{day}}</b> daily orders</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="col margin-top-if-md">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                    <div data-digits-counter class="page__counter">
                        {% if request.user.lang == "russian" %}
                            <h3 style="font-size: 400%; text-align: center;"><b>{{week}}</b> заказов за неделю</h3>
                        {% elif request.user.lang == "english" %}
                            <h3 style="font-size: 400%; text-align: center;"><b>{{week}}</b> weekly orders</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="buttons">
            {% if request.user.lang == "russian" %}
                <a href="/shop" style="width: 100%;"class="btn btn-outline-success">Магазин</a>
            {% elif request.user.lang == "english" %}
                <a href="/shop" style="width: 100%;"class="btn btn-outline-success">Shop</a>
            {% endif %}
            <hr>
            {% if request.user.lang == "russian" %}
                <a href="/users/logout" style="width: 100%;"class="btn btn-outline-primary">Выйти</a>
            {% elif request.user.lang == "english" %}
                <a href="/users/logout" style="width: 100%;"class="btn btn-outline-primary">Logout</a>
            {% endif %}
        </div>
    </div>
    <p style="visibility: hidden;">text</p>
    <p style="visibility: hidden;">text</p>
    <p style="visibility: hidden;">text</p>
{% endblock %}