{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    <div style="height: 100%; background-color: white;" class="container window">
            <div class="container my-5 height: 100%;">
                <p>⠀</p>
                {% if all %}
                    {% for req in all %}
                        <p><a style="width: 100%;" class="btn btn-outline-primary" href="{% url 'support_detail' req.id %}">{{req.user}}</a></p>
                    {% endfor %}
                {% else %}
                    <p style="text-align: center; color: black;">
                        Нет запросов...
                    </p>
                {% endif %}
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
                <p>⠀</p>
            </div>
    </div>
    <p>⠀</p>
    <p>⠀</p>
    <p>⠀</p>
{% endblock %}