{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    {% if request.user.lang == "russian" %}
        <div style="height: 100%; background-color: white;" class="container window">
            <div class="container my-5">
                <img style="border-radius: 50%; margin-top: 1em;" src="https://staticfiles-com.netlify.app/static/img/support-icon.png" width="35" height="auto"> <em style="color: black;">Тех-поддержка</em> 
                <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="10"readonly>Здравствуйте! Что у вас случилось?</textarea>
                <hr style="color: black;">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="my-3">
                            {% if request.user.is_admin %}
                                <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/support-icon.png" width="35" height="auto"> 
                                <em style="color: black;">Тех-поддержка</em> 
                            {% else %}
                                <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/unknown-user.jpeg" width="35" height="auto">
                                <em style="color: black;">{{message.username}}</em>
                            {% endif %}
                            <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="3" readonly>{{message.message}}</textarea>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p style="text-align: center; color: black;">Нет сообщений</p>
                    {% endif %}
            </div>
            <hr style="color: black;">
            <form action="{% url 'support_leave_message' correspondence.id %}" method="post">
                {% csrf_token %}
                <textarea class="form-control" style="width: 90%; height: 100%; resize: none;" type="text" name="message_text" placeholder="Текст сообщения" aria-valuetext="text" rows="3" maxlength="500"></textarea>
                <button class="btn btn-outline-primary" style="display: block; margin-left: 5%; margin-top: 1em; width: 90%;" type="submit">Отправить</button>
            </form>
            <p>⠀</p>
    </div>
    <p>⠀</p>
    <p>⠀</p>
    <p>⠀</p>
    {% elif request.user.lang == "english" %}
    <div style="height: 100%; background-color: white;" class="container window">
        <div class="container my-5">
            <img style="border-radius: 50%; margin-top: 1em;" src="https://staticfiles-com.netlify.app/static/img/support-icon.png" width="35" height="auto"> <em style="color: black;">Tech Support </em>
            <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="10"readonly>Hello! What happened to you?</textarea>
            <h style="color: black;">
                {% if messages %}
                    {% for message in messages %}
                    <div class="my-3">
                        {% if request.user.is_admin %}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/support-icon.png" width="35" height="auto">
                            <em style="color: black;">Tech Support</em>
                        {% else %}
                            <img style="border-radius: 50%;" src="https://staticfiles-com.netlify.app/static/img/unknown-user.jpeg" width="35" height="auto">
                            <em style="color: black;">{{message.username}}</em>
                        {% endif %}
                        <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="3" readonly>{{message.message}}</textarea>
                    </div>
                    {% endfor %}
                {% else %}
                    <p style="text-align: center; color: black;">No Posts</p>
                {% endif %}
        </div>
        <h style="color: black;">
        <form action="{% url 'support_leave_message' correspondence.id %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" style="width: 90%; height: 100%; resize: none;" type="text" name="message_text" placeholder="Message text" aria-valuetext="text" rows="3" maxlength="500"></textarea>
            <button class="btn btn-outline-primary" style="display: block; margin-left: 5%; margin-top: 1em; width: 90%;" type="submit">Submit</button>
        </form>
        <p>⠀</p>
</div>
<p>⠀</p>
<p>⠀</p>
<p>⠀</p>
    {% endif %}

{% endblock %}