<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTC-bots</title>
  <link rel="icon" type="image/png" href="https://staticfiles-com.netlify.app/static/img/mfavicon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://staticfiles-com.netlify.app/static/img/mfavicon.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://staticfiles-com.netlify.app/static/img/mfavicon.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://staticfiles-com.netlify.app/static/img/mfavicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  <style>
    body {
      background-color: rgb(240, 242, 245);
    }
    .register-form {
            margin-right: 5%;
            width: 95%;
            max-width: 600px;
            height: auto;
            border-radius: 1em;
            background-color: white;
    }
  </style>
</head>
<body>
    {% if errors %}
    <div style="margin: auto;"class="register-form container my-5">
        <main>
            <p style="visibility: hidden">text</p>
            <ul>
            {% if checked %}
                <li>
                    <p style="color: red;">Passwords don't match!</p>
                </li>
            {% endif %}
            {% if password_check %}
            <li>
                <p style="color: red;">Password too short!</p>
            </li>
            {% endif %}
            {% if username_is_free %}
            <li>
                <p style="color: red;">Username already taken!</p>
            </li>
            {% endif %}
            </ul>
            <form action="{% url 'as_register' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" name="email">
                    <div id="emailHelp" class="form-text">Not shown anywhere but needed</div>
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password2">
                </div>
                <div class="mb-3">
                    <a href="/users/login">Already have an account? Login</a>
                </div>
                <button style="width: 100%;" type="submit" id="btncheck" class="btn btn-outline-primary">Sign Up</button>
                <p style="visibility: hidden">text</p>
            </form>
        </main>
    </div>
{% else %}
    <div class="container my-5">
        <h3 style="text-align: center;">Hello {{username}}</h3>
        <h4 style="text-align: center;">Your account has been created, <a href="/users/login">you can now login</a></h4>
    </div>
{% endif %}
</body>
</html>