{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
        {% if request.user.lang == "russian" %}
            <h2 style="text-align: center; margin-top: 1em;">У вас нет задач...</h2>
        {% elif request.user.lang == "english" %}
            <h2 style="text-align: center; margin-top: 1em;">You have no tasks...</h2>
        {% endif %}
{% endblock %}