{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    {% if request.user.lang == "russian" %}
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-2">
            <div class="col">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                <div data-digits-counter class="page__counter">
                    <h3 style="font-size: 400%; text-align: center;"><b>{{col}}</b> заказов всего</h3>
                </div>
            </div>
            <div class="col margin-top-if-md">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                <div data-digits-counter class="page__counter">
                    <h3 style="font-size: 400%; text-align: center;"><b>{{col_day}}</b> заказов за день</h3>
                </div>
            </div>
            <div class="col margin-top-if-md">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                <div data-digits-counter class="page__counter">
                    <h3 style="font-size: 400%; text-align: center;"><b>{{col_week}}</b> заказов за неделю</h3>
                </div>
            </div>
        </div>
        <hr>
            <h2 style="text-align: center;">Статистика пользователей</h2>
            <table style="width: 100%;">
                <tr>
                  <th>№</th>
                  <th>Пользователь</th>
                  <th>Количество монет</th>
                </tr>
                {% for usr in users %}
                  <tr>
                    <td>{{ usr.num }}</td>
                    <td>{{ usr.nickname }}</td>
                    <td>{{ usr.coins }}</td>
                  </tr>
                {% endfor %}
              </table>
    </div>
    {% elif request.user.lang == "english" %}
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-2">
            <div class="col">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                <div data-digits-counter class="page__counter">
                    <h3 style="font-size: 400%; text-align: center;"><b>{{col}}</b> orders total</h3>
                </div>
            </div>
            <div class="col margin-top-if-md">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                <div data-digits-counter class="page__counter">
                    <h3 style="font-size: 400%; text-align: center;"><b>{{col_day}}</b> daily orders</h3>
                </div>
            </div>
            <div class="col margin-top-if-md">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="https://staticfiles-com.netlify.app/static/speedometer-icon.webp" width="200" height="auto">
                <div data-digits-counter class="page__counter">
                    <h3 style="font-size: 400%; text-align: center;"><b>{{col_week}}</b> weekly orders</h3>
                </div>
            </div>
        </div>
        <hr>
        <p>
            <h2 style="text-align: center;">User Statistics</h2>
            <table>
                <tr>
                  <th>#</th>
                  <th>User</th>
                  <th>Number of coins</th>
                </tr>
                {% for usr in users %}
                  <tr>
                    <td>{{ usr.num}}</td>
                    <td>{{ usr.nickname }}</td>
                    <td>{{ usr.coins }}</td>
                  </tr>
                {% endfor %}
              </table>
        </p>
    </div>
    {% endif %}
{% endblock %}