{% extends 'base.html' %}

{% block title%}PTC bots - Команда{% endblock %}

{% block content %}
    <div class="container my-5">
        {% if request.user.lang == "russian" %}
            <img src="https://staticfiles-com.netlify.app/static/img/gleb-chubchik-teleicon.png" width="467" height="467" class="rounded">
            <p style="text-align: center; margin-top: 2em;" class="text-muted">
                Главный разработчик сайта, Админ
            </p>
            <div class="buttons">
                <a style="display: block; margin: auto;" class="btn btn-outline-secondary" href="https://t.me/Gleb_chubchik">Мой телеграмм</a>
                <a style="display: block; margin: auto; margin-top: 1em;" class="btn btn-outline-primary" href="/team">Вступить в команду</a>
            </div>
        {% elif request.user.lang == "english" %}
            <img src="https://staticfiles-com.netlify.app/static/img/gleb-chubchik-teleicon.png" width="467" height="467" class="rounded">
            <p style="text-align: center; margin-top: 2em;" class="text-muted">
                Chief website developer, Admin
            </p>
            <div class="buttons">
                <a style="display: block; margin: auto;" class="btn btn-outline-secondary" href="https://t.me/Gleb_chubchik">My telegram</a>
                <a style="display: block; margin: auto; margin-top: 1em;" class="btn btn-outline-primary" href="/team">Join a Team</a>
            </div>
        {% endif %}
    </div>
    <p>⠀</p>
    <p>⠀</p>
    <p>⠀</p>
{% endblock %}