{% extends 'base.html' %}

{% block title%}PTC bots - Команда{% endblock %}

{% block content %}
    <div class="container my-5">
        {% if request.user.lang == "russian" %}
            <img src="https://staticfiles-com.netlify.app/static/img/ivan-shneider-teleicon.jpg" width="467" height="467" class="rounded">
            <p style="text-align: center; margin-top: 2em;" class="text-muted">
                Помощник в разроботке, Разработчик телеграмм ботов, Админ
            </p>
            <div class="buttons">
                <a style="display: block; margin: auto; margin-top: 1em;" class="btn btn-outline-primary" href="/team">Вступить в команду</a>
            </div>
        </div>
        {% elif request.user.lang == "english" %}
            <img src="https://staticfiles-com.netlify.app/static/img/ivan-shneider-teleicon.jpg" width="467" height="467" class="rounded">
            <p style="text-align: center; margin-top: 2em;" class="text-muted">
                Development Assistant, Telegram Bot Developer, Admin
            </p>
            <div class="buttons">
                <a style="display: block; margin: auto; margin-top: 1em;" class="btn btn-outline-primary" href="/team">Join a Team</a>
            </div>
        </div>
        {% endif %}
    <p>⠀</p>
    <p>⠀</p>
    <p>⠀</p>
{% endblock %}