{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    <div style="height: 50vh; background-color: white; text-align: justify; color: black;"class="container my-5 window">
        {% if request.user.lang == "russian" %}
            <h3 style="text-align: center;">Как посмотреть состояние моего заказа?</h1>
            <hr>
            <h5 class="text-muted">1.Перейдите на вкладку "Мои заказы" и нажмите на первую кнопку.</h5>
            <p>
                <h5 class="text-muted">2.Вы окажитесь на странице с вашим заказом, Когда ваш заказ будет готов администратор напишит об этом.</h5>
            </p>
        {% elif request.user.lang == "english" %}
            <h3 style="text-align: center;">How can I see the status of my order?</h1>
            <hr>
            <h5 class="text-muted">1.Go to the "My orders" tab and click on the first button.</h5>
            <p>
                <h5 class="text-muted">2.You will be on the page with your order. When your order is ready, the administrator will write about it.</h5>
            </p>
        {% endif %}
    </div>
{% endblock %}