{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    <div style="height: 50vh; background-color: white; text-align: justify; color: black;"class="container my-5 window">
        {% if request.user.lang == "russian" %}
                <h3 style="text-align: center;">Как стать администратором?</h1>
                <hr>
                <h5 class="text-muted">1.Перейдите на вкладку "Команда -> Вступить в команду".</h5>
                <p>
                    <h5 class="text-muted">2.Затем напишите имя пользователя которое вы хочете.</h5>
                </p>
                <p>
                    <h5 class="text-muted">3.После чего напишите ваше резюме в поле для текста и ожидайте ответа.</h5>
                </p>
                <p>
                    <h5 class="text-muted">4.Если ваш запрос одобрят ты вы станете администратором.</h5>
                </p>
    {% elif request.user.lang == "english" %}
    <h3 style="text-align: center;">How to become an administrator?</h1>
        <hr>
        <h5 class="text-muted">1.Go to "Team -> Join Team" tab.</h5>
        <p>
            <h5 class="text-muted">2.Then write the username you want.</h5>
        </p>
        <p>
            <h5 class="text-muted">3. After that, write your resume in the text box and wait for a response.</h5>
        </p>
        <p>
            <h5 class="text-muted">4.If your request is approved, you will become an administrator.</h5>
        </p>
    {% endif %}
    </div>
{% endblock %}