{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    <div style="background-color: white; text-align: justify;" class="container my-5 window vh50-form-computer">
        {% if request.user.lang == "russian" %}
            <h3 style="color: black; text-align: center; font-size: 150%;">Страница помощи</h3>
            <hr style="color: black;">
            <p>
                <a href="/help/what-i-must-doing-if-i-dont-know-hard"> Что делать если я не знаю точную сложность заказа?</a>
            </p>
            <p>
                <a href="/help/how-be-admin"> Как стать администратором?</a>
            </p>
            <p>
                <a href="/help/how-see-my-order"> Как посмотреть состояние моего заказа?</a>
            </p>
            <p>
                <a href="/help/why-i-go-to-notpage"> Почему я попал на страницу "Отказано в доступе"?</a>
            </p>
            <hr style="color: black;">
            <p>
                <p style="color: black;">Не нашли ответа на ваш вопрос? <a href="/support/{{request.user.id}}">Задайте вопрос тех-поддержке!</a></p>
            </p>
        {% elif request.user.lang == "english" %}
            <h3 style="color: black; text-align: center; font-size: 150%;">Help Page</h3>
            <hr style="color: black;">
            <p>
                <a href="/help/what-i-must-doing-if-i-dont-know-hard"> What if I don't know the exact difficulty of an order?</a>
            </p>
            <p>
                <a href="/help/how-be-admin"> How do I become an administrator?</a>
            </p>
            <p>
                <a href="/help/how-see-my-order"> How do I see the status of my order?</a>
            </p>
            <p>
                <a href="/help/why-i-go-to-notpage"> Why did I end up on the Access Denied page?</a>
            </p>
            <h style="color: black;">
            <p>
                <p style="color: black;">Didn't find the answer to your question? <a href="/support/{{request.user.id}}">Ask tech support!</a></p>
            </p>
        {% endif %}
    </div>
{% endblock %}