{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    <div style="height: 50vh; background-color: white; text-align: justify; color: black;"class="container my-5 window">
        {% if request.user.lang == "russian" %}
                <h3 style="text-align: center;">Что делать если я незнаю точную сложность моего заказа?</h1>
                <hr>
                <h5 class="text-muted">1.Перейдите на вкладку "заказать бота" и выберите любую сложность.</h5>
                <p>
                    <h5 class="text-muted">2.Затем назовите ваш заказ и напишите его.</h5>
                </p>
                <p>
                    <h5 class="text-muted">3.После чего перейдите на вкладку "Мои заказы" и Выберите ваш заказ.</h5>
                </p>
                <p>
                    <h5 class="text-muted">4.После чего отправьте сообщение с просьбой определить сложность вашего заказа.</h5>
                </p>
        {% elif request.user.lang == "english" %}
                <h3 style="text-align: center;">What if I don't know the exact complexity of my order?</h1>
                <hr>
                <h5 class="text-muted">1.Go to the "order a bot" tab and select any difficulty.</h5>
                <p>
                    <h5 class="text-muted">2. Then name your order and write it.</h5>
                </p>
                <p>
                    <h5 class="text-muted">3.Then go to the "My Orders" tab and Select your order.</h5>
                </p>
                <p>
                    <h5 class="text-muted">4. After that, send a message asking you to determine the complexity of your order.</h5>
                </p>
        {% endif %}
    </div>
{% endblock %}