{% extends 'base.html' %}

{% block title%}PTC bots - Домашняя страница{% endblock %}

{% block content %}
    <div style="height: 50vh; background-color: white; text-align: justify; color: black;"class="container my-5 window">
        {% if request.user.lang == "russian" %}
            <h3 style="text-align: center;">Почему я попал на страницу "Отказано в доступе"?</h1>
            <hr>
            <h5 class="text-muted">Возможно вы перейшли по сыллке для администраторов или зашли на чужой заказ.</h5>
        {% elif request.user.lang == "english" %}
            <h3 style="text-align: center;">Why am I on the "Access Denied" page?</h1>
            <hr>
            <h5 class="text-muted">Maybe you clicked on the admin link or went to someone else's order.</h5>
        {% endif %}
    </div>
{% endblock %}