{% extends 'base.html' %}

{% block title%}PTC bots - Команда{% endblock %}

{% block content %}
      <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
          <div class="col">
            <div class="card">
                <img src="https://staticfiles-com.netlify.app/static/img/gleb-chubchik-teleicon.png" width="467" height="auto" class="card-img-top" alt="image">
                <hr>
                <div class="card-body">
                  {% if request.user.lang == "russian" %}
                    <h5 class="card-title">Глеб Чубчик</h5>
                    <p class="card-text">Главный разроботчик сайта, Админ...</p>
                    <a href="/team/gleb-chubchik" style="width: 100%;" class="btn btn-outline-primary">
                      Просмотреть
                    </a>
                  {% elif request.user.lang == "english" %}
                    <h5 class="card-title">Gleb Chubchik</h5>
                    <p class="card-text">Chief website developer, Admin...</p>
                    <a href="/team/gleb-chubchik" style="width: 100%;" class="btn btn-outline-primary">
                      View
                    </a>
                  {% endif %}
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
                <img src="https://staticfiles-com.netlify.app/static/img/ivan-shneider-teleicon.jpg" width="467" height="auto" class="card-img-top" alt="image">
                <hr>
                <div class="card-body">
                    {% if request.user.lang == "russian" %}
                      <h5 class="card-title">Иван Шнейдер</h5>
                      <p class="card-text">Помощник в разроботке, Разработчик телеграмм ботов, Админ...</p>
                      <a href="/team/ivan-shneider" style="width: 100%;" class="btn btn-outline-primary">
                        Просмотреть
                      </a>
                    {% elif request.user.lang == "english" %}
                      <h5 class="card-title">Ivan Schneider</h5>
                      <p class="card-text">Development Assistant, Telegram Bot Developer, Admin...</p>
                      <a href="/team/ivan-shneider" style="width: 100%;" class="btn btn-outline-primary">
                        View
                      </a>
                    {% endif %}
                </div>
            </div>
          </div>
      </div>
        <hr>
            {% if request.user.lang == "russian" %}
              <button style="width: 100%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#HardModal">
                Вступить в команду
              </button>
              <div class="modal fade" id="HardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Вступить в команду</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'submino' %}" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="order_title" cols="30" rows="1" placeholder="Введите имя пользователя" style="width: 100%; resize: none;"></textarea>
                        <textarea style="display: block; margin-top: 1%;" class="form-control" name="order_text" cols="30" rows="10" placeholder="Раскажите что вы умеете" style="width: 100%; resize: none;"></textarea>
                        <p style="color: red; margin-top: 1em;">Если ваш запрос одобрят вы станете администратором!</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-outline-primary">Отправить запрос</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
            {% elif request.user.lang == "english" %}
              <button style="width: 100%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#MediumModal">
                Join the team
              </button>
              <div class="modal fade" id="MediumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Join Team</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'submino' %}" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="order_title" cols="30" rows="1" placeholder="Enter username" style="width: 100%; resize: none;"></textarea>
                        <textarea style="display: block; margin-top: 1%;" class="form-control" name="order_text" cols="30" rows="10" placeholder="Tell me what you know" style="width: 100%; resize: none;"></textarea>
                        <p style="color: red; margin-top: 1em;">If your request is approved, you will become an administrator!</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Dismiss</button>
                        <button type="submit" class="btn btn-outline-primary">Submit request</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
            {% endif %}
            <p style="visibility: hidden;">Text</p>
            <p style="visibility: hidden;">Text</p>
            <p style="visibility: hidden;">Text</p>
{% endblock %}