{% if request.user.lang == "russian" %}
            <div style="margin: auto; height: auto;" class="register-form my-5">
              <div style="display: block; margin: auto;">
                <div class="container">
                  <p style="visibility: hidden">text</p>
                  <form action="{% url 'submino' %}" method="post">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Имя пользователя</label>
                          <input type="text" class="form-control" id="exampleInputEmail" placeholder="Введите имя пользователя" name="username">
                        </div>
                        <div class="mb-3">
                          <textarea type="text" class="form-control" id="exampleInputEmail1" placeholder="Раскажите что вы умеете" rows="15" name="submino"></textarea>
                        </div>
                        <button type="submit" style="width: 100%;" id="btncheck" class="btn btn-outline-primary">Отправить запрос</button>

                  </form>
                  <p style="visibility: hidden">text</p>
                </div>
                </div>
          </div>
  <p>⠀</p>
  <p>⠀</p>
  <p>⠀</p>
            {% elif request.user.lang == "english" %}
            <div style="margin: auto; height: auto;" class="register-form my-5">
              <div style="display: block; margin: auto;">
                <div class="container">
                  <p style="visibility: hidden">text</p>
                  <form action="{% url 'submino' %}" method="post">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Username</label>
                          <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter username" name="username">
                        </div>
                        <div class="mb-3">
                          <textarea type="text" class="form-control" id="exampleInputEmail1" placeholder="Tell me what you know" rows="15" name="submino"></textarea>
                        </div>
                        <button type="submit" style="width: 100%;" id="btncheck" class="btn btn-outline-primary">Submit Request</button>

                  </form>
                  <p style="visibility: hidden">text</p>
                </div>
                </div>
          </div>
  <p>⠀</p>
  <p>⠀</p>
  <p>⠀</p>
            {% endif %}