{% extends 'base.html' %}

{% block title%}Заказ: {{order.order_title}}{% endblock %}

{% block content %}

    <div style="height: 100%; background-color: white;" class="container window">
        <div class="container my-5">
            {% if request.user.lang == "russian" %}
                <img style="border-radius: 50%; margin-top: 1em;" src="https://staticfiles-com.netlify.app/static/img/orders-bot.jpeg" width="35" height="auto"> <em style="color: black;">Jim | Бот</em>
            {% elif request.user.lang == "english" %}
                <img style="border-radius: 50%; margin-top: 1em;" src="https://staticfiles-com.netlify.app/static/img/orders-bot.jpeg" width="35" height="auto"> <em style="color: black;">Jim | Bot</em>
            {% endif %} 
            {% if request.user.lang == "russian" %}
                <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="10"readonly>Запрос: {{req.text}}</textarea>
            {% elif request.user.lang == "english" %}
                <textarea style="margin-top: 1em; margin-left: 5%; width: 90%;" class="form-control" rows="10"readonly>Request: {{req.text}}</textarea>
            {% endif %}
        </div>
    </div>
    <p>⠀</p>
    <p>⠀</p>
    <p>⠀</p>
{% endblock %}