{% extends 'base.html' %}

{% block title%}PTC bots - Мои заказы{% endblock %}

{% block content %}
    <div style="height: auto; background-color: white;" class="container my-5 window">
        <div class="container my-5">
            <p>⠀</p>
            {% if list %}
                {% for req in list %}
                    <p class="order-order">
                        <a style="display: block; margin: auto;" class="btn btn-primary" href="{% url 'detail' req.id %}">
                            <b style="color: rgb(32, 37, 41);">{{req.username}}}</b>
                        </a>
                </p>
                {% endfor %}
                <p>⠀</p>
            {% else %}
                <p style="text-align: center; color: black;">
                    {% if request.user.lang == "russian" %}
                        Нет запросов...
                    {% elif request.user.lang == "english" %}
                        No requests...
                    {% endif %} 
                </p> 
            {% endif %}
        </div>
    </div>
    <p>⠀</p>
    <p>⠀</p>
    <p>⠀</p>
{% endblock %}