{% extends 'base.html' %}

{% block title %}PTC bots - Заказать бота{% endblock %}
{% block content %}

    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
          {% if request.user.lang == "russian" %}
            <div class="col">
                <div class="card">
                    <img src="https://staticfiles-com.netlify.app/static/img/bot_easy.png" class="card-img-top" alt="image">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title">Заказать лёгкого бота</h5>
                      <p class="card-text">Время выполнения: 1-3 дня</p>
                      <p class="card-text">Стоимость: 150-250 Монет</p>
                      <button style="width: 100%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#EasyModal">
                        Заказать
                      </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://staticfiles-com.netlify.app/static/img/bot_medium.png" class="card-img-top" alt="image">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title">Заказать среднего бота</h5>
                      <p class="card-text">Время выполнения: 2-5 дней</p>
                      <p class="card-text">Стоимость: 450-600 Монет</p>
                      <button style="width: 100%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#MediumModal">
                        Заказать
                      </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://staticfiles-com.netlify.app/static/img/bot_hard.png" class="card-img-top" alt="image">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title">Заказать сложного бота</h5>
                      <p class="card-text">Время выполнения: 3-7 дней</p>
                      <p class="card-text">Стоимость: 750-∞ Монет</p>
                      <button style="width: 100%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#HardModal">
                        Заказать
                      </button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="EasyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" name="Label">Заказать лёгкого бота</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'order:leave_order' %}" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="power" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;" readonly>Сложность: лёгкая</textarea>
                        <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="order_title" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;" maxlength="70"></textarea>
                        <textarea style="display: block; margin-top: 1%;" class="form-control" name="order_text" cols="30" rows="10" placeholder="Напишите ваш заказ здесь" style="width: 100%; resize: none;"></textarea>
                        <p style="color: red; margin-top: 1em;">Вы сможете увидеть ваш заказ на вкладке "Мои заказы"</p>
                        <p style="color: red; margin-top: 1em;">Если вы не знаете точную сложность заказа <a href="{% url 'support_detail' request.user.id %}">напишите в тех-поддержку</a></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-outline-primary">Отправить заказ</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="MediumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Заказать среднего бота</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'order:leave_order' %}" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="power" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;" readonly>Сложность: средняя</textarea>
                        <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="order_title" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;"></textarea>
                        <textarea style="display: block; margin-top: 1%;" class="form-control" name="order_text" cols="30" rows="10" placeholder="Напишите ваш заказ здесь" style="width: 100%; resize: none;"></textarea>
                        <p style="color: red; margin-top: 1em;">Вы сможете увидеть ваш заказ на вкладке "Мои заказы"</p>
                        <p style="color: red; margin-top: 1em;">Если вы не знаете точную сложность заказа <a href="{% url 'support_detail' request.user.id %}">напишите в тех-поддержку</a></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-outline-primary">Отправить заказ</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="HardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Заказать сложного бота</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'order:leave_order' %}" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="power" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;" readonly>Сложность: сложная</textarea>
                        <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="order_title" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;"></textarea>
                        <textarea style="display: block; margin-top: 1%;" class="form-control" name="order_text" cols="30" rows="10" placeholder="Напишите ваш заказ здесь" style="width: 100%; resize: none;"></textarea>
                        <p style="color: red; margin-top: 1em;">Вы сможете увидеть ваш заказ на вкладке "Мои заказы"</p>
                        <p style="color: red; margin-top: 1em;">Если вы не знаете точную сложность заказа <a href="{% url 'support_detail' request.user.id %}">напишите в тех-поддержку</a></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-outline-primary">Отправить заказ</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
        {% elif request.user.lang == "english" %}
        <div class="col">
          <div class="card">
              <img src="https://staticfiles-com.netlify.app/static/img/bot_easy.png" class="card-img-top" alt="image">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Order a easy bot</h5>
                <p class="card-text">Lead time: 1-3 days</p>
                <p class="card-text">Cost: 150-250 Coins</p>
                <button style="width: 100%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#EasyModal">
                  Order a bot
                </button>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
              <img src="https://staticfiles-com.netlify.app/static/img/bot_medium.png" class="card-img-top" alt="image">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Order a medium bot</h5>
                <p class="card-text">Lead time: 2-5 days</p>
                <p class="card-text">Cost: 450-600 Coins</p>
                <button style="width: 100%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#MediumModal">
                  Order a bot
                </button>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card">
              <img src="https://staticfiles-com.netlify.app/static/img/bot_hard.png" class="card-img-top" alt="image">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Order a hard bot</h5>
                <p class="card-text">Lead time: 3-7 days</p>
                <p class="card-text">Cost: 750-∞ Coins</p>
                <button style="width: 100%;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#HardModal">
                  Order a bot
                </button>
              </div>
          </div>
      </div>
      <div class="modal fade" id="EasyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" name="Label">Order a easy bot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="{% url 'order:leave_order' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="power" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;" readonly>Difficulty: easy</textarea>
                  <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="order_title" cols="30" rows="1" placeholder="Name your order" style="width: 100%; resize: none;" maxlength="70"></textarea>
                  <textarea style="display: block; margin-top: 1%;" class="form-control" name="order_text" cols="30" rows="10" placeholder="Write your order here" style="width: 100%; resize: none;"></textarea>
                  <p style="color: red; margin-top: 1em;">You will be able to see your order on the tab "My Orders"</p>
                  <p style="color: red; margin-top: 1em;">If you do not know the exact complexity of the order <a href="{% url 'support_detail' request.user.id %}">write to technical support</a></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-outline-primary">Send an order</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="MediumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" name="Label">Order a medium bot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="{% url 'order:leave_order' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="power" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;" readonly>Difficulty: medium</textarea>
                  <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="order_title" cols="30" rows="1" placeholder="Name your order" style="width: 100%; resize: none;" maxlength="70"></textarea>
                  <textarea style="display: block; margin-top: 1%;" class="form-control" name="order_text" cols="30" rows="10" placeholder="Write your order here" style="width: 100%; resize: none;"></textarea>
                  <p style="color: red; margin-top: 1em;">You will be able to see your order on the tab "My Orders"</p>
                  <p style="color: red; margin-top: 1em;">If you do not know the exact complexity of the order <a href="{% url 'support_detail' request.user.id %}">write to technical support</a></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-outline-primary">Send an order</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="HardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" name="Label">Order a hard bot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="{% url 'order:leave_order' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="power" cols="30" rows="1" placeholder="Назовите ваш заказ" style="width: 100%; resize: none;" readonly>Difficulty: hard</textarea>
                  <textarea style="display: block; margin-top: 1%; resize: none;" class="form-control" name="order_title" cols="30" rows="1" placeholder="Name your order" style="width: 100%; resize: none;" maxlength="70"></textarea>
                  <textarea style="display: block; margin-top: 1%;" class="form-control" name="order_text" cols="30" rows="10" placeholder="Write your order here" style="width: 100%; resize: none;"></textarea>
                  <p style="color: red; margin-top: 1em;">You will be able to see your order on the tab "My Orders"</p>
                  <p style="color: red; margin-top: 1em;">If you do not know the exact complexity of the order <a href="{% url 'support_detail' request.user.id %}">write to technical support</a></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-outline-primary">Send an order</button>
                </div>
              </form>
            </div>
          </div>
        </div>
  </div>
</div>
        {% endif %}
    <p>⠀</p>
    <p>⠀</p>
    <p>⠀</p>
{% endblock %}